{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Blog developed using Python and with the Flask-Jinja framework, using the standard Bootstrap backbone available online. </p>
        <p>It uses the Flask login for password management, and the database is of the "relational" type (SQL/PostgreSQL). New users are welcome to comment on the blogs</p>

      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}